<div ng-controller="mainCtrl" align="center">
	<h3>NBA Season 2016-2017 Playoff Leaders</h3><br><br><br>
	<div>
		<button ng-click="points()">TOP 5 PLAYERS: Points</button>
		<button ng-click="rebounds()">TOP 5 PLAYERS: Rebounds</button>
		<button ng-click="assists()">TOP 5 PLAYERS: Assists</button>
		<button ng-click="blocks()">TOP 5 PLAYERS:Blocks</button>
		<button ng-click="steals()">TOP 5 PLAYERS: Steals</button><br><br><br>
		<button ng-click="fgpercent()">TOP 5 PLAYERS: Field Goal Percentage</button>
		<button ng-click="fgthree()">TOP 5 PLAYERS: Three Points Made</button>
		<button ng-click="fg3percent()">TOP 5 PLAYERS: Three Point Percentage</button>
		<button ng-click="fantasypoints()">TOP 5 PLAYERS: Fantasy Points</button>
	</div>
</div>