<div ng-controller="statCtrl">
  <div ng-if="init == 'PTS'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Points Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} points per game </td>
        </tr>
    </table>
  </div>

  <div ng-if="init == 'REB'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Rebounds Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} rebounds per game </td>
        </tr>
    </table>
  </div>
  
  <div ng-if="init == 'AST'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Assists Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} assists per game </td>
        </tr>
    </table>
  </div>

  <div ng-if="init == 'BLK'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Blocks Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} blocks per game </td>
        </tr>
    </table>
  </div>
  
  <div ng-if="init == 'STL'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Steals Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} steals per game </td>
        </tr>
    </table>
  </div>
  
  <div ng-if="init == 'FG_PCT'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Field Goal Percentage Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} total field goal percentage</td>
        </tr>
    </table>
  </div>
  
  <div ng-if="init == 'FG3M'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Three Pointers Made Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} total 3-pointers made</td>
        </tr>
    </table>
  </div>

  <div ng-if="init == 'FG3_PCT'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Three Point Percentage</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} total three point percentage</td>
        </tr>
    </table>
  </div>

  <div ng-if="init == 'FP'">
  <h1 style="text-align:center; color:blue; font-size:200%;">Fantasy Points Leaderboard</h1>
    <table>
        <tr ng-repeat="a in dataName">
          <td> {{rank[$index]}} <b>{{a}}</b> : {{dataValue[$index]}} fantasy points per game </td>
        </tr>
    </table>
  </div>
  
  <div>
    <p ng-click="back()"><u  style="color:blue">Back to Main Menu</u></p>
  </div>
</div>